table {
   border-collapse: collapse; font-family: Calibri, sans-serif;
 }
colgroup, tbody {
  border: solid medium;
 }
td {
  border: solid thin; height: 4em; width: 4em; text-align: center; padding: 0;
}

table {
  margin-left: 200px;
  margin-top:  200px;
}

caption {
  font-size: 50px;
  text-align: center;
}
